<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
  <br></br>
  <h6 style="font-size:40px; text-align: center;">Select the Crop</h6>
  <br></br>
  	<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
		<div class="col d-flex align-items-start">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<svg class="bi" width="1em" height="1em">
					<use xlink:href="#toggles2"></use>
				</svg>
			</div>
			<div class="text-center">
				<h2 style="text-align:center">Grapes</h2>
				<img src="static/Pd1.jpg" class="img-thumbnail" alt="..."><br>
				<a href="crop-recomendation" class="btn btn-primary  ">
					Predict
				</a>
			</div>
		</div>
      <div class="col d-flex align-items-start">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<svg class="bi" width="1em" height="1em">
					<use xlink:href="#toggles2"></use>
				</svg>
			</div>
			<div class="text-center">
				<h2 style="text-align:center">Corn</h2>
				<img src="static/Pd2.jpg" class="img-thumbnail" alt="..."><br>
				<a href="crop-recomendation" class="btn btn-primary  ">
					Predict
				</a>
			</div>
		</div>
      <div class="col d-flex align-items-start">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<svg class="bi" width="1em" height="1em">
					<use xlink:href="#toggles2"></use>
				</svg>
			</div>
			<div class="text-center">
				<h2 style="text-align:center">Apple</h2>
				<img src="static/Pd3.jpg" class="img-thumbnail" alt="..."><br>
				<a href="crop-recomendation" class="btn btn-primary  ">
					Predict
				</a>
			</div>
		</div>
	</div>
  <br></br>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
		<div class="col d-flex align-items-start">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<svg class="bi" width="1em" height="1em">
					<use xlink:href="#toggles2"></use>
				</svg>
			</div>
			<div class="text-center">
				<h2 style="text-align:center">Potato</h2>
				<img src="static/Pd4.jpg" class="img-thumbnail" alt="..."><br>
				<a href="crop-recomendation" class="btn btn-primary  ">
					Predict
				</a>
			</div>
		</div>
    <div class="col d-flex align-items-start">
			<div class="icon-square bg-light text-dark flex-shrink-0 me-3">
				<svg class="bi" width="1em" height="1em">
					<use xlink:href="#toggles2"></use>
				</svg>
			</div>
			<div class="text-center">
				<h2 style="text-align:center">Tomato</h2>
				<img src="static/Pd5.jpg" class="img-thumbnail" alt="..."><br>
				<a href="Tomato-prediction" class="btn btn-primary  ">
					Predict
				</a>
			</div>
		</div>
	</div>
  </body>
</html>